.forecastCardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.forecastCardContainer {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.2rem;
}

.forecastCardDay {
    font-size: 2rem;
    font-weight: bold;
}

.forecastCardDegrees {
    font-size: 1.5rem;
}
.darkModeForecast{
    background-color:var(--darkSecondaryText)
}
@media (max-width: 1200px) {
    .forecastCardContainer {
        width: 188px;
        height: 200px;
    }
}

@media (max-width: 880px) {
    .forecastCardContainer {
        width: 100%;
        height: 100px;
        flex-direction: column;
        margin-top: 5px;
    }
    .forecastCardDay {
        font-size: 1.5rem;
    }
}