.mainContainer {
    margin: 0 auto;
    margin-top: 2rem;
    width: 85%;
    height: 700px;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 45px auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.mainContainerTopRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
}

.degrees {
    padding: 5px;
    font-size: 2rem;
}

.mainWeatherText {
    font-size: 3rem;
}

.darkModeMainContaier {
    background-color: var(--darkMainContaierBackground)
}

@media (max-width: 1200px) {
    .mainContainer {
        width: 100%;
        min-height: auto;
    }
    .mainWeatherText {
        font-size: 2rem;
    }
    .degrees {
        font-size: 1.4rem;
    }
}