.navbar {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightBackground);
    height: 70px;
    width: 100vw;
}

.navbarRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarLeft>span {
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 2rem);
}

.theme {
    margin: 0 10px;
}

.degreeToggle {
    margin-right: 20px;
}

.darkNavbar {
    background-color: var(--darkNavbar);
}

.darkNavbar>div>span {
    color: var(--darkText)
}

.darkNavbar>.navbarRight>a>button[aria-pressed="false"]>span {
    color: var(--darkSecondaryText)
}

a {
    text-decoration: none;
}

a>button>span {
    font-weight: bold;
}

.MuiButtonBase-root {
    background-color: rgba(255, 255, 255, 0.411) !important;
}

.MuiButtonBase-root[aria-pressed="false"] {
    color: var(--darkSecondaryText) !important
}

.Mui-selected {
    background-color: rgba(10, 3, 3, 0.102) !important;
    color: white !important
}

.darkNavbar>.navbarRight .MuiButtonBase-root {
    background-color: rgba(255, 255, 255, 0.198) !important
}

.darkNavbar>.navbarRight .Mui-selected {
    background-color: rgba(255, 255, 255, 0.411) !important;
}

@media (max-width: 880px) {

    .navbarLeft >span{
        display: none;
    }
    .navbarRight {
        width: 100%
    }
    .theme{
        display:flex;
        justify-self: end;
    }
    .navbar {
        padding: 0 15px;
    }
}